.form {
  width: 480px;
  margin-top: 3rem;
}

.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-textarea {
  width: 100%;
  max-width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.form-input {
  width: 2.5rem;
  font-size: 1.25rem;
  padding: 1rem;
  background: rgba(222, 237, 247, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.emoji-buttons {
  width: 100%;
}

@media only screen and (max-width: 900px) { 
  .form {
    width: 90%;
    margin-top: 0;
  }

  .form-textarea {
    width: 92%;
  }

  .form .form-label {
    margin-top: 2rem;
  }
}